@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<PhamNhuViet_0237.Category>

@{
    ViewBag.Title = "ListCategory";
}

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.428571429;
                text-decoration: none;
                background-color: #ffffff;
                border: 1px solid #dddddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > span:hover,
            .pagination > li > a:focus,
            .pagination > li > span:focus {
                background-color: #eeeeee;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #ffffff;
            cursor: default;
            background-color: #428bca;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #999999;
            cursor: not-allowed;
            background-color: #ffffff;
            border-color: #dddddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 18px;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .paper {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
    }

        .paper:before,
        .paper:after {
            display: table;
            content: " ";
        }

        .paper:after {
            clear: both;
        }

        .paper:before,
        .paper:after {
            display: table;
            content: " ";
        }

        .paper:after {
            clear: both;
        }

        .paper li {
            display: inline;
        }

            .paper li > a,
            .paper li > span {
                display: inline-block;
                padding: 5px 14px;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                border-radius: 15px;
            }

                .paper li > a:hover,
                .paper li > a:focus {
                    text-decoration: none;
                    background-color: #eeeeee;
                }

        .paper .next > a,
        .paper .next > span {
            float: right;
        }

        .paper .previous > a,
        .paper .previous > span {
            float: left;
        }

        .paper .disabled > a,
        .paper .disabled > a:hover,
        .paper .disabled > a:focus,
        .paper .disabled > span {
            color: #999999;
            cursor: not-allowed;
            background-color: #ffffff;
        }
</style>

<h2>Danh sách danh mục</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>

@using (Html.BeginForm("ListProduct", "Product", FormMethod.Get))
{
    <p>
        Tìm tên danh mục: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShowOnHomePage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Deleted)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().isPopular)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center align-middle">
                <img src="~/Content/images/items/@item.Avatar" class="img-size-64" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>*@
            <td>
                @if (item.isPopular == 1)
                {
                    <p>Phổ biến</p>
                }
                @if (item.isPopular == 2)
                {
                    <p>Mặc định</p>
                }
            </td>
            <td>
                <a href="@Url.Action("Edit","Category",new {id=item.Id})"><i class="fas fa-pen"></i></a>
                |
                <a href="@Url.Action("Details", "Category", new {id=item.Id})" style="color:darkgray"><i class="fas fa-file"></i></a>
                |
                <a href="@Url.Action("Delete", "Category", new {id=item.Id})" style="color:lightcoral"><i class=" fas fa-trash"></i></a>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("ListCategory", new { page, currentFilter = ViewBag.currentFilter }))